buildbear: {
  url: "https://rpc.buildbear.io/intellectual-rogue-fdb73d90"
}
buildbear: {
  url: "https://rpc.buildbear.io/intellectual-rogue-fdb73d90"
}
# This file is a sample config file for running integration tests. To run the
# tests yourself, rename this file to `alchemy.env` and fill in the values.
ALCHEMY_API_KEY="RpMtmcFjjH4P737rmQvgun0TXXwNcAFW"

# Used only for Notify integration tests
ALCHEMY_AUTH_TOKEN="fusMCFZ4SdPJJy_VKL9GRjKwIsKDDH8E"
ALCHEMY_APP_ID="f3rc1asiiuc4jkoa"